<h1>Hello Angular World!</h1>

<!--<p>{{ title }}</p>-->

<!--<p><strong>{{ number - 2 }}</strong></p>-->
<!--<p><strong>{{ arr }}</strong></p>-->
<!--<p><strong>{{ 'Hello' + " World" }}</strong></p>-->
<!--<p><strong>{{ 40 + 2 }}</strong></p>-->

<!--<img src="{{ img }}" alt="">-->
<!-- example 1 -->
<!--<img [src]="img" alt="">-->

<button (click)="onClick()">Click me!</button>

<!--<input type="text" (keyup)="onInput($event)">-->
<!--<input type="text" (keyup.enter)="onInput($event)">-->
<input
        type="text"
        (keyup.enter)="onInput($event)"
        (blur)="onBlur(myInput.value)"
        #myInput
>
<p><strong>{{ inputValue }}</strong></p>

<hr>

<app-post></app-post>

<!--<app-post></app-post>-->

<hr>

<app-post4></app-post4>
