.red {
  background-color: red;
  font-weight: bold;
  color: #fff;
}

.blue {
  background-color: blue;
  font-size: 1.5rem;
  color: #fff;
}

p {
  font-size: 1.5rem;
  text-align: center;
}

.wrap {
  border: 1px dashed #ccc;
  padding: 1rem;
}
