<div class="container">
    <h1>Angular Directives</h1>

    <p appStyle="red" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, magnam.
    </p>
    <p appStyle="blue" [dStyles]="{border: '1px solid red', borderRadius: '15px'}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, magnam.
    </p>

    <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

    <!--<div *ngIf="isVisible" class="wrap">-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur distinctio dolor eveniet excepturi itaque odio quasi quod repellat voluptatibus?</p>-->
    <!--</div>-->

    <ng-template [ngIf]="isVisible">
        <div class="wrap">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur distinctio dolor eveniet excepturi itaque odio quasi quod repellat voluptatibus?</p>
        </div>
    </ng-template>

    <!--<p appStyle="red" fontWeight="bold">-->
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, magnam.-->
    <!--</p>-->
    <!--<p [appStyle]="'red'" fontWeight="bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, magnam.</p>  // If we pass string no need to bind attribute with [appStyle] brackets-->
    <!--<p appStyle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, magnam.</p>-->

</div>



<!-- Code before Directives starts just below -->
<!--<div class="container">-->
    <!--<h1>Angular Components</h1>-->

    <!--<h2>Subheader</h2>-->

    <!--<app-post-form-->
        <!--(onAdd)="updatePosts($event)"-->
    <!--&gt;</app-post-form>-->

    <!--<hr />-->

    <!--<app-post-->
            <!--*ngFor="let p of posts"-->
            <!--[post]="p"-->
            <!--(onRemove)="removePost($event)"-->
    <!--&gt;-->
        <!--<div #info>-->
            <!--<small *ngIf="p.text.length > 10; else short">Пост длинный</small>-->
            <!--<ng-template #short>-->
                <!--<small>Пост короткий</small>-->
            <!--</ng-template>-->
        <!--</div>-->
    <!--</app-post>-->

    <!--&lt;!&ndash;<app-post&ndash;&gt;-->
      <!--&lt;!&ndash;*ngFor="let p of posts"&ndash;&gt;-->
      <!--&lt;!&ndash;[post]="p"&ndash;&gt;-->
    <!--&lt;!&ndash;&gt;</app-post>&ndash;&gt;-->

    <!--&lt;!&ndash;<app-post&ndash;&gt;-->
        <!--&lt;!&ndash;*ngFor="let p of posts"&ndash;&gt;-->
        <!--&lt;!&ndash;[myPost]="p"&ndash;&gt;-->
    <!--&lt;!&ndash;&gt;</app-post>&ndash;&gt;-->
<!--</div>-->







































<!--8 =====================-->
<!--<h1>Hello Angular World!</h1>-->

<!--<p>-->
    <!--&lt;!&ndash;{{now | date }}&ndash;&gt;-->
    <!--{{now | date:'long' | uppercase }}-->
<!--</p>-->

<!--7 =====================-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
    <!--&lt;!&ndash;<li *ngFor="let number of arr; let idx = index">&ndash;&gt;-->
        <!--&lt;!&ndash;{{idx + 1}} - <strong>{{number}}</strong>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->


<!--<ul style="list-style: none">-->
    <!--<li *ngFor="let post of objs">-->
        <!--<p>{{post.title}} <b>{{post.author}}</b></p>-->
        <!--<ul>-->
            <!--<li *ngFor="let comment of post.comments">-->
                <!--<div>-->
                    <!--<small>{{comment.name}}</small>-->
                    <!--<p>{{comment.text}}</p>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
<!--</ul>-->

<!--6 =====================-->
<!--<button (click)="toggle = !toggle">Toggle</button>-->
<!--<button (click)="toggle = 111">Set 111</button>-->

<!--<div [ngSwitch]="toggle">-->
    <!--<p *ngSwitchCase="true" class="red">Lorem ipsum.</p>-->
    <!--<p *ngSwitchCase="false" class="blue">Lorem ipsum Lorem ipsum.</p>-->
    <!--<p *ngSwitchDefault>Lorem ipsum.</p>-->
<!--</div>-->

<!--5 =====================-->
<!--<button (click)="toggle = !toggle">Toggle</button>-->

<!--&lt;!&ndash;<p *ngIf="toggle" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, repellendus.</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p *ngIf="!toggle" class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, esse!</p>&ndash;&gt;-->

<!--<p *ngIf="toggle; else blueP" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, repellendus.</p>-->

<!--<ng-template #blueP>-->
    <!--<p *ngIf="!toggle" class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, esse!</p>-->
<!--</ng-template>-->

<!--4 =====================-->
<!--<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>-->

<!--&lt;!&ndash;<p [ngClass]="{&ndash;&gt;-->
    <!--&lt;!&ndash;red: backgroundToggle,&ndash;&gt;-->
    <!--&lt;!&ndash;blue: !backgroundToggle&ndash;&gt;-->
<!--&lt;!&ndash;}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, quam.</p>&ndash;&gt;-->

<!--<p [class.blue]="!backgroundToggle"-->
   <!--[class.red]="backgroundToggle"-->
<!--&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis.</p>-->

<!--3 =====================-->
<!--<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>-->

<!--<div [ngStyle]="{-->
    <!--width: '200px',-->
    <!--height: '200px',-->
    <!--borderRadius: '5px',-->
    <!--border: '1px solid #ccc',-->
    <!--background: backgroundToggle ? 'red' : 'blue'-->
<!--}"></div>-->

<!--2 =====================-->
<!--&lt;!&ndash;<input type="text" [value]="title" (input)="onInput($event)">&ndash;&gt;-->
<!--<input type="text" [(ngModel)]="title"> // 2-way binding needs FormModule in app.module.ts in imports and import-->

<!--<p>{{title}}</p>-->

<!-- ============= -->

<!--<p>{{ title }}</p>-->

<!--<p><strong>{{ number - 2 }}</strong></p>-->
<!--<p><strong>{{ arr }}</strong></p>-->
<!--<p><strong>{{ 'Hello' + " World" }}</strong></p>-->
<!--<p><strong>{{ 40 + 2 }}</strong></p>-->

<!--<img src="{{ img }}" alt="">-->
<!-- example 1 -->
<!--<img [src]="img" alt="">-->

<!-- ============= -->

<!--<button (click)="onClick()">Click me!</button>-->

<!--&lt;!&ndash;<input type="text" (keyup)="onInput($event)">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" (keyup.enter)="onInput($event)">&ndash;&gt;-->
<!--<input-->
        <!--type="text"-->
        <!--(keyup.enter)="onInput($event)"-->
        <!--(blur)="onBlur(myInput.value)"-->
        <!--#myInput-->
<!--&gt;-->
<!--<p><strong>{{ inputValue }}</strong></p>-->

<!--<hr>-->

<!--<app-post></app-post>-->

<!--&lt;!&ndash;<app-post></app-post>&ndash;&gt;-->

<!--<hr>-->

<!--<app-post4></app-post4>-->

<!-- ============= -->
